@{
  Layout = "_Layout";
}
    <form class="game" action="/Result" method="post">
      <label="user-word">Enter in a word, and receive a score:</label>
      <input type="text" name="user-word" id="user-word">
      <button type="submit" class="btn-lg btn-custom">Score me!</button>
    </form>
