@{
  Layout = "_Layout";
}
    <br>

    <form action="/Result" method="post">
      <label="main-str">Enter in a word or series of words:</label>
      <input type="text" name="main-str" id="main-str" placeholder="QUERY STRING">

      <br><br>

      <label="search-str">Enter in a word to search for:</label>
      <input type="text" name="search-str" id="search-str" placeholder="SEARCH TERM">

      <br><br>

      <button type="submit" class="btn-lg btn-custom">[SUBMIT]</button>
    </form>
