@{
  Layout = "_Layout";
}
    <form action="/Result" method="post">
      <label="main-str">Enter in a word or series of words:</label>
      <input type="text" name="main-str" id="main-str">
      <label="search-str">Enter in a word to search for:</label>
      <input type="text" name="search-str" id="search-str">
      <button type="submit" class="btn-lg btn-custom">Score me!</button>
    </form>
