@{Layout ="_Layout";}



<p>We matched [ @Model.GetMatchesFound() ] occurances of: [ @Model.GetTarget() ]</p>
<p>inside the string: [ @Model.GetPrimary() ]</p>
<br><br>
<a href="/">Click Me To Go Back!</a>
